body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    margin-top: 25px;
    min-height: calc(100vh - 149px);
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-pad{
    margin:5px;
}

.btn-black {
    color: #fff;
    background-color: #000 !important;
}

.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}

.btn-rounded {
    border-radius: 10em;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-black:hover {
    color: #fff;
    background-color: #0d0d0d;
}

.btn:hover, .btn:focus, .btn:active {
    outline: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.black-text {
    color: #000 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.sh:hover {
    outline: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}