
    @using (Html.BeginForm("Index", "Carritoes",null, FormMethod.Get,null))
    {
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-shopping-cart"></i> &nbsp; Carrito: <span class="badge badge-light">@ViewBag.Cant</span>
    </button>
    }